<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, </h1>

    <p>
     Here is the temporary password for your account<%= @temp_pass %>.

     Change it <a href=""> Blappr </a>
</p>
  
  </body>
</html>