

<div class="col-sm-4">

   <form class="form-horizontal form" action="/user_create" method="post">
       
       Email  <input type="text" name="email" id ="email" class="form-control"> </input>


<br><br><br>
       App Url  <input type="text" name="url" id ="url" class="form-control"> </input>
<br><br><br>

   <input type="submit" name="submit" value="Next" class="btn btn-info"> </input>
   </form>
  

</div>

