<% if @next==1 %>
	<nav class="navbar-default navbar-static-top" role="navigation">
    	<div class="navbar-header">
            <h1> <a class="navbar-brand" href="index.html">Grappr</a></h1>         
	    </div>
	    <div class=" border-bottom">
	    	<div class="full-left">
	  			Install WordPress Plugin
				<div class="clearfix"> </div>
   			</div>
				<div class="clearfix">
				</div>
			</div>
	</nav>
 	<div class="login" style="background-color: #F3F3F4">
		<div class="login-bottom">
			<form>
				<div class="col-md-12 questions">
					<p style="text-align: center;">In order tp enable realtime data transfer from your blog to app, you need to enable WordPress REST APIs.</p>
					<img src="assets/plugin.png" width="300" style="display: block;margin-left: auto;margin-right: auto;padding-top: 5%"/>
					<div class="login-do" style="padding-top: 8%">
						<a href="/customize" class="hvr-shutter-in-horizontal">Install Now</a>
					</div>  
				</div>
				<div class="clearfix"> </div>
			</form>
		</div>
	</div>
<% elsif @next == 0 %>
	<script type="text/javascript">
		alert("Not a wordpress blog")
		window.location.href="/authors/sign_up"  // put your correct path in a string here
	</script>
<%else%>
	<script type="text/javascript">
		alert("Enter a valid url");
		window.location.href="/authors/sign_up";  // put your correct path in a string here
	</script>
<%end%>
