
<%= form_for(resource, as: resource_name,:validate=> true,:class=> "form-horizontal m-t-20", url: registration_path(resource_name),html: { id: "basicform"}) do |f| %>
                        <div class="form-group ">
                          <div class="col-xs-12">
                            <input class="form-control" type="email" required="" placeholder="Email" name="email">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-xs-12">
                            <input type="url" name="blog_url"  required="" id ="blog_url" class="form-control" type="email" required="" placeholder="Wordpress Website Url" value="http://" >
                          </div>
                        </div>
                        <div class="field">
                          <%= f.hidden_field :password, autocomplete: "off" ,:value=> $temp_pass %>
                        </div>
                        <div class="form-group">
                          <div class="col-xs-12">
                            <div class="checkbox checkbox-primary">
                              <input id="checkbox-signup" type="checkbox" checked="checked">
                              <label for="checkbox-signup">I accept <a href="#">Terms and Conditions</a></label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group text-right m-t-20 m-b-0">
                          <div class="col-xs-12">
                            <button class="btn btn-pink text-uppercase waves-effect waves-light w-sm" type="submit">
                              Sign Up
                            </button>
                          </div>
                        </div>
                      <%end %>