<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @author_email.to_s %></h1>

    <p>
     Somebody hopefully you have changed the password for your account at Blappr.


</p>

  
  </body>
</html>