<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up with Blappr </h1>

    <p>
     Here is the temporary password for your account.


</p>

<p>Go to panel and reset the password </p>
  
  </body>
</html>