<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @author_email.to_s %> </h1>


<p> Thanks for the payment </p>
    

</p>

<p>Go to panel and reset the password </p>
  
  </body>
</html>