
       
<nav class="navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">
    <h1> <a class="navbar-brand" href="index.html">Grappr</a></h1>         
  </div>
  <div class=" border-bottom">
    <div class="full-left">
      Payment Successfull
    <div class="clearfix"> </div>
  </div>
  <div class="clearfix">
  </div>
</nav>
<div class="login" style="background-color: #F3F3F4;">
	<div class="login-bottom" style="margin-top:-50px">
		<form>
			<div class="col-md-12 questions">
				<p style="text-align: center;">Your payment is now successfull and you can start customizing your app further on dashboard.</p>
				<img src="assets/paymentsuccess.png" width="224px" style="display: block;margin-left: auto;margin-right: auto;padding-top: 5%"/>
				<div class="login-do" style="padding-top: 8%">
					<%= link_to 'Change Password',edit_author_registration_path, class: "hvr-shutter-in-horizontal"%>
          <a href="/apps/<%=@app_id%>/edit" class="hvr-shutter-in-horizontal">Go to Dashboard</a>
				</div>  
			</div>
			<div class="clearfix"> </div>
		</form>
	</div>
</div>
	
