
<div class="grid-system" >   <!-- grid system -->


  <div class="grid-form1 questions" style="height: 650px;">
  <div class="row">
    <div class="col-md-6">   <!-- form div -->
    <p>You can customize your app logo, color scheme, main menus and sliders with few clicks and make it even better - just like the way you want and generate APK file within few minutes.</p>  


<%= form_for @app , :action=> "payments",:html=> {:class =>"form-horizontal" ,:id=>"app-form"} do |f| %>


          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label hor-form">Name</label>
            <div class="col-sm-10">
              
              <input type="text" name="app_name" class="form-control" id="inputEmail3" placeholder="Name of your app">

            </div>
          </div>
          
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label hor-form">Logo</label>
            <div class="col-sm-10">

              <%= f.file_field :app_icon%>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label hor-form">Categories</label>
            <div class="col-sm-10">
              <%= select_tag "categories","<option>Technology</option><option>Entertainment</option><option>Education</option><option>Food</option>".html_safe ,class: "form-control1 placeholder", id:"cateogries",  multiple: true %>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label hor-form">Colors</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
          </div>


          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label hor-form">Email</label>
            <div class="col-sm-10">
              <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Your contact email">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label hor-form">Pages</label>
            <div class="col-sm-10">
              <%= select_tag "pages","<option>About</option><option>Privacy Policy</option>".html_safe ,class: "form-control1 placeholder", id:"pages",  multiple: true %>
            </div>
          </div>
          

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Generate APK</button>
            </div>
          </div>  

<% end %>

      </div> <!-- form div ends -->



      <div class="col-md-6">

        <div class="container">
          <img src="/assets/app.png" class="nexus">
          <div class="col-sm-4 col-sm-offset-1 guide" id="phone"> <!-- smartphone -->
              <div id ="top-nav" class="col-sm-12">
                  <div id="top-nav-content"> 
                      <i class="fa fa-wifi"></i> <i class="fa fa-signal"></i>
                      <i class="fa fa-battery-1"></i> 12:20
                   </div>
             </div> <br>  
             <!-- top nav end -->
              <div id="header-app">
                  <img src="/assets/a.png" class="icons" >
                  <span id="app_name" >YOURBLOG</span>
                  <div class="right" >
                    <img src="/assets/b.png" style="margin-right: 8px; height: 21px;padding-top: 4px;" class="icons"></i>
                    <img src="/assets/c.png" style="height: 13px;width: 13px;vertical-align: top;margin-top: 3px;" class="icons" ></i>
                  </div>
              </div>
              <!-- header app end -->
              <div class="catog-div">
                    <span id="all-categories">
                    <div class="col-xs-4 home"> HOME</div>
                    <div class="col-xs-4"> ANDROID</div>
                    <div class="col-xs-4"> STARTUPS</div>
                    </span>
                </div>
                <!-- catog div end -->

            <div class="blog-main">      
                <img src="/assets/featured.png" class="image">
                <img src="/assets/navigation.png" class="navigation">
                <div class="title">TechSparks 2016: announcing the seventh edition of TechSparks </div>
                <div class="trending"> Trending Topics</div>
                <div class="list-articles">
                    <ul>
                        <li class="alist">
                        <div class="a_title col-xs-9">Hey let's catch up soon. Do you want to grab lunch sometime?
                        <div class="a_author">SUUMIT SHAH
                        </div>
                        </div>
                        <img src="/assets/1.png" class="a_image col-xs-3">
                        </li>
                        <br><br><hr>
                        <li class="alist" style="margin-top: 0">
                        <div class="a_title col-xs-9">Hey let's catch up soon. Do you want to grab lunch sometime?
                        <div class="a_author">SUUMIT SHAH
                        </div>
                        </div>
                        <img src="/assets/2.png" class="a_image col-xs-3">
                        </li>
                        
                    </ul>
                </div>
            </div>
                  
          </div>   <!-- smartphone ends -->
        </div>
        <!-- container end -->
      </div>
      <!-- col-md-6  end-->
    </div>
    <!-- row ends -->
    <br><br><br>

  </div>



</div> <!-- grid system ends-->


