
      
    	<div class="block-header"> </div>
        <div class="card">
            <div class="list-group lg-odd-black">
                <div class="action-header clearfix">
                    <div class="ah-label hidden-xs">Push Notifications</div>

                    <div class="ah-search">
                        <input type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ahs-close" data-ma-action="action-header-close">&times;</i>
                    </div>

                    <ul class="actions">
                        <li>
                            <a href="" data-ma-action="action-header-open">
                                <i class="zmdi zmdi-search"></i>
                            </a>
                        </li>    
                    </ul>
                </div>

                <div class="list-group-item media">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>

                    <div class="pull-right">
                        <div class="actions dropdown">
                            <a href="" data-toggle="dropdown" aria-expanded="true">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Edit</a>
                                </li>
                                <li>
                                    <a href="">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="media-body">
                        <div class="lgi-heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam <small class="lgi-text">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small></div>
                    </div>
                </div>

                <div class="list-group-item media">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>

                    <div class="pull-right">
                        <div class="actions dropdown">
                            <a href="" data-toggle="dropdown" aria-expanded="true">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Edit</a>
                                </li>
                                <li>
                                    <a href="">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="media-body">
                        <div class="lgi-heading">Dulla vel metus scelerisque ante sollicitudin commodo purus odio</div>
                        <small class="lgi-text">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
                    </div>
                </div>

                <div class="list-group-item media">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>

                    <div class="pull-right">
                        <div class="actions dropdown">
                            <a href="" data-toggle="dropdown" aria-expanded="true">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>



                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Edit</a>
                                </li>
                                <li>
                                    <a href="">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="media-body">
                        <div class="lgi-heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam <small class="lgi-text">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small></div>
                        
                       
                    </div>
                </div>

                <div class="list-group-item media">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>

                    <div class="pull-right">
                        <div class="actions dropdown">
                            <a href="" data-toggle="dropdown" aria-expanded="true">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Edit</a>
                                </li>
                                <li>
                                    <a href="">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="media-body">
                        <div class="lgi-heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam</div>
                        <small class="lgi-text">An erant explicari salutatus duo, sumo doming delicata in cum. Eos at augue viderer principes</small>

                        
                    </div>
                </div>

                <div class="list-group-item media">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <div class="media-body">
                        <div class="lgi-heading">Dulla vel metus scelerisque ante sollicitudin commodo purus odio</div>
                        <small class="lgi-text">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
                    </div>
                </div>

                <div class="list-group-item media">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>

                    <div class="pull-right">
                        <div class="actions dropdown">
                            <a href="" data-toggle="dropdown" aria-expanded="true">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Edit</a>
                                </li>
                                <li>
                                    <a href="">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="media-body">
                        <div class="lgi-heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam <small class="lgi-text">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small></div>
                        
                    </div>
                </div>

                <div class="list-group-item media">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                        </label>
                    </div>

                    <div class="pull-right">
                        <div class="actions dropdown">
                            <a href="" data-toggle="dropdown" aria-expanded="true">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Edit</a>
                                </li>
                                <li>
                                    <a href="">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="media-body">
                        <div class="lgi-heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id brute intellegam</div>
                        <small class="lgi-text">An erant explicari salutatus duo, sumo doming delicata in cum. Eos at augue viderer principes</small>

                        
                    </div>
                </div>
            </div>

            <ul class="pagination lg-pagination">
                <li>
                    <a href="" aria-label="Previous">
                        <i class="zmdi zmdi-chevron-left"></i>
                    </a>
                </li>
                <li class="active"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li>
                    <a href="" aria-label="Next">
                        <i class="zmdi zmdi-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    