<div class="grid-system">
  <div class="grid-form1 questions">
    <p>
      Configure your Google Analytics tracking code below to track page and article views and user activity on your app within Google Analytics. You'll need to setup a new Google Analytics property and select "App" as the type of property you want to track. Make a note of the Tracking ID and enter it below (ignore any instructions relating to the SDK, we've done everything for you!).
    </p>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <form class="form-horizontal" action="get_analytics" method="POST">
          <input type='hidden' name='authenticity_token' value='" + token + "'>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label hor-form">Analytics ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="analytics_id" id="inputEmail3" placeholder="UA-XXXXXXXX-X" value="<%= @analytics.analytics_id if !@analytics.nil? %>">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>