<section id="content">
    <div class="container">
        <div class="block-header">
           

            

        </div>

        <div class="card">
            <div class="card-header">
                <h2>Customize Your App
                    <small>Extend form controls by adding text or buttons before, after, or on both sides of
                        any text-based inputs.
                    </small>
                </h2>
            </div>



 <div class="card-body card-padding"> <!-- card-body card-padding-->


<form action="/apps" method="POST">
                

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group fg-line">
                        <label for="exampleInputEmail1">App Name</label>
                        <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                               placeholder="Your app name goes here.">
                    </div>
                   
                    
                   

                    <div class="form-group fg-line">
                        <label for="exampleInputPassword1">Contact Email</label>
                        <input type="text" class="form-control input-sm" id="exampleInputPassword1"
                               placeholder="All contact queries will be forwarded to this email.">
                    </div>
                    <div class="form-group fg-line">

                    <label for="exampleInputPassword1">Choose Categories</label>
                        <select class="selectpicker" multiple data-max-options="5"
                                title='Choose any 5 categories'>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Plain</option>
                            <option>Steamed</option>
                            <option>Toasted</option>
                        </select>
                        </div>
                        

                        
                             <div class="form-group fg-line">
                                <label for="exampleInputPassword1">Primary Color</label>
                                <div class="fg-line dropdown">
                                    <input type="text" class="form-control cp-value" value="#03A9F4"
                                           data-toggle="dropdown">

                                    <div class="dropdown-menu">
                                        <div class="color-picker" data-cp-default="#03A9F4"></div>
                                    </div>

                                    <i class="cp-value"></i>
                                </div>
                            </div>

<div class="form-group fg-line">
                            <div class="toggle-switch toggle-switch-demo" data-ts-color="blue">
                            <label for="ts3" class="ts-label">Auto Push Notification for New Posts</label>
                            <input id="ts3" type="checkbox" hidden="hidden">
                            <label for="ts3" class="ts-helper"></label>
                        </div></div>


<div class="form-group fg-line">
                            <p class="f-500 c-black m-b-20"><span style="color:#5E5E5E">App Icon</span></p>

                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                    <div>
                        <span class="btn btn-info btn-file">
                            <span class="fileinput-new">Select image</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" name="...">
                        </span>
                        <a href="#" class="btn btn-danger fileinput-exists"
                           data-dismiss="fileinput">Remove</a>
                    </div>
                </div></div>

<input type="submit" class="btn btn-primary btn-lg waves-effect"value="Generate APK Now"> </input>


</form>



                        




                    </div>

                    <div class="col-sm-6">

                        <img src="assets/app.png" width="60%" class="img-responsive center-block"/>
                        
                    </div>

                    
                </div>

                

                

                

                
            </div> <!-- card-body card-padding -->

            <br/>
        </div>


      

    


     

      

     

    


     

        
    </div>
</section>