


<section id="content">
    <div class="container">
        <div class="block-header">
           

            

        </div>

        <div class="card">
            <div class="card-header">
                <h2>Customize Your App
                    <small>Extend form controls by adding text or buttons before, after, or on both sides of
                        any text-based inputs.
                    </small>
                </h2>
            </div>



 <div class="card-body card-padding"> <!-- card-body card-padding-->


<form action="/apps" method="POST">
                

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group fg-line">
        <label for="exampleInputEmail1" >App Name</label>
 <input type="email" class="form-control input-sm" placeholder="Your app name goes here."
id ="fn" onkeyup="centername(this)" maxlength="22">
                    </div>
                   
                    
                   

                    <div class="form-group fg-line">
                        <label for="exampleInputPassword1">Contact Email</label>
                        <input type="text" class="form-control input-sm" id="exampleInputPassword1"
                               placeholder="All contact queries will be forwarded to this email.">
                    </div>
                    <div class="form-group fg-line">

                    <label for="exampleInputPassword1">Choose Categories</label>
                        <select class="selectpicker" multiple data-max-options="3"
                                title='Choose any 3 categories'>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Plain</option>
                            <option>Steamed</option>
                            <option>Toasted</option>
                        </select>
                        </div>
                        

                        
                             <div class="form-group fg-line">
                                <label for="exampleInputPassword1">Primary Color</label>
                                <div class="fg-line dropdown">

     <input type="text" class="jscolor" value="57ABC5"
     data-toggle="dropdown" id="color-element" >

     <span id="color-box" onclick="changecolor(this)"> <b> Apply Color </b> </span>

                                </div>
                            </div>

<div class="form-group fg-line">
                            <div class="toggle-switch toggle-switch-demo" data-ts-color="blue">
                            <label for="ts3" class="ts-label">Auto Push Notification for New Posts</label>
                            <input id="ts3" type="checkbox" hidden="hidden">
                            <label for="ts3" class="ts-helper"></label>
                        </div></div>


<div class="form-group fg-line">
                            <p class="f-500 c-black m-b-20"><span style="color:#5E5E5E">App Icon</span></p>

                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                      
            <input type="file" class="fileinput-new" value="Select image">
                            
                      
                
                </div>

</div>



<input type="submit" class="btn btn-lg"value="Generate APK Now"> 
</input>


</form>



                        




                    </div>


            <div class="col-sm-4 col-sm-offset-1" id="phone"> <!-- smartphone -->

                <div id ="above-nav" class="col-sm-12">
                
                <div id="above-nav-content"> 
                    <i class="zmdi zmdi-wifi"></i> <i class="zmdi zmdi-network"></i>
                    <i class="zmdi zmdi-battery"></i> 12:20
                 </div>

               </div> <br>

                   <div id="header-app">
                   <br>
  
  <i class="zmdi zmdi-menu zmdi-hc-2x" style="position: absolute;left: 12px"></i>

                <span id="app_name"> </span>


  <i class="zmdi zmdi-search zmdi-hc-2x" style="position: absolute;right: 38px"></i>

  <i class="zmdi zmdi-apps zmdi-hc-2x" style="position: absolute;right: 12px"></i>

            </div>


 </div>   <!-- smartphone ends -->

                    
                </div>

                

                

                

                
            </div> <!-- card-body card-padding -->

            <br/>
        </div>


      

        
    </div>
</section>


<script type="text/javascript">


      function centername(val) {
        var first = $("#fn").val();
       
                 $('#app_name').text(first);
             };

        function changecolor(value)
        {
             var color_value = $("#color-element").val()
             $("#header-app").css("background-color", "#"+color_value)
        }     



      </script>
