
        <div class="block-header">
            <h2>Table</h2>

            <ul class="actions">
                <li>
                    <a href="">
                        <i class="zmdi zmdi-trending-up"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="zmdi zmdi-check-all"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="" data-toggle="dropdown">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">Refresh</a>
                        </li>
                        <li>
                            <a href="">Manage Widgets</a>
                        </li>
                        <li>
                            <a href="">Widgets Settings</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

        <div class="card">
            <div class="card-header">
                <h2>All Posts</h2>
                <div id="data-table-basic-header" class="bootgrid-header container-fluid"><div class="row"><div class="col-sm-12 actionBar">
                    <div class="search form-group col-sm-7" style="float:right;">
                        <div class="input-group"><span class="zmdi icon input-group-addon glyphicon-search col-sm-2"></span> <input type="text" class="search-field form-control col-sm-4" style="float:left;" placeholder="Search"></div>
                    </div>
                </div></div></div>
            </div>

            <div class="card-body table-responsive">

                <table class="table">

                    <thead>
                    <tr>
                        
                        <th>Title</th>
                        <th>Author</th>
                        <th>Category</th>
                        <th>Date Published</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        
                        <td>Complete and Made-Easy CFD Trading Guide</td>
                        <td>Christopher</td>
                        <td>Startup</td>
                        <td>19 mins ago</td>
                    </tr>
                    <tr>
                        
                        <td>After Tim Cook, Microsoft CEO Satya Nadella to visit India this month</td>
                        <td>Hollaway</td>
                        <td>Bollywood</td>
                        <td>2016/12/26</td>
                    </tr>
                    <tr>
                        
                        <td>Flipkart and Snapdeal to face more heat as Tatas get into e-commerce</td>
                        <td>Johnston</td>
                        <td>News</td>
                        <td>2016/12/26</td>
                    </tr>
                    <tr>
                        
                        <td>Bangladesh’s ‘Eco-Cooler’ that runs without electricity could be the answer to the rising heat</td>
                        <td>Christin</td>
                        <td>Startup</td>
                        <td>2016/12/26</td>
                    </tr>
                    <tr>
                        
                        <td>Meet the fearless five who turned their #PassionToPaycheck</td>
                        <td>Belkitt</td>
                        <td>Hollywood</td>
                        <td>2016/12/26</td>
                    </tr>
                    <tr>
                        
                        <td>Myntra says sorry – here’s what went down</td>
                        <td>Parnell</td>
                        <td>Entertainment</td>
                        <td>2016/12/26</td>
                    </tr>
                    <tr>
                        
                        <td>FreeCharge users can now use WhatsApp to send and receive money</td>
                        <td>Buckland</td>
                        <td>Business</td>
                        <td>2016/12/26</td>
                    </tr>
                    <tr>
                        
                        <td>Delhi government wins the war against surge pricing. Uber ends surge pricing in the capital</td>
                        <td>Walmart</td>
                        <td>Startup</td>
                        <td>2016/12/26</td>
                    </tr>
                    </tbody>
                </table>


            </div>


        <div id="data-table-basic-footer" class="bootgrid-footer container-fluid"><div class="row"><div class="col-sm-6"><ul class="pagination"><li class="first disabled" aria-disabled="true"><a data-page="first" class="button"><i class="zmdi zmdi-more-horiz"></i></a></li><li class="prev disabled" aria-disabled="true"><a data-page="prev" class="button"><i class="zmdi zmdi-chevron-left"></i></a></li><li class="page-1 active" aria-disabled="false" aria-selected="true"><a data-page="1" class="button">1</a></li><li class="page-2" aria-disabled="false" aria-selected="false"><a data-page="2" class="button">2</a></li><li class="next" aria-disabled="false"><a data-page="next" class="button"><i class="zmdi zmdi-chevron-right"></i></a></li><li class="last" aria-disabled="false"><a data-page="last" class="button"><i class="zmdi zmdi-more-horiz"></i></a></li></ul></div><div class="col-sm-6 infoBar"><div class="infos">Showing 1 to 10 of 20 entries</div></div></div></div>

        </div>
    