<div class="grid-system">

    
  <div class="grid-form1 questions">
    <p>
      Do you want to make money from you app? Sign up on AdMob and integrate your ad codes below. We would optimzie your ads and maximize your revenue. Its pretty simple and straight forward process to signup on AdMob.
    </p>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label hor-form">Custom Message</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" placeholder="100 characters max">
            </div>
          </div>
          <p style="text-align:center">Or</p>
  
          <div class="form-group">
            <label class="col-sm-2 control-label hor-form">Choose Article</label>
            <div class="col-sm-10">
              <select class="form-control1">
                  <option>To guts, to pain… and to glory – an ode to the Indian Startup ecosystem!</option>
                  <option>Meet India’s ‘water doctor’, who has turned 84 acres of barren land into a water bowl</option>
                  <option>Black sticky rice, high-curcumin Lakadong turmeric, and winged prickly ash powder – how Zizira is disrupting Meghalaya’s agricultural sector</option>
                  <option>How Raghunandan, the son of a fruit vendor founded Natural Ice Creams</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-danger">Send Notification</button>
            </div>
          </div>
        </form>
      </div>
    </div>  
  </div>
</div>