<section id="content">
    <div class="container">
        <div class="block-header"> </div>
        <div class="card">
            <div class="card-header">
                <h2>Send Push Notification
                    <small>You can send custom push notification to specifc set of users from here. 
                    </small>
                </h2>
            </div>

            <div class="card-body card-padding">
           
                <form role="form">
                
                    <div class="form-group fg-line">
                        <label for="exampleInputEmail1">Push Title</label>
                        <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                               placeholder="Enter email">
                    </div>
                   
                    <div class="form-group fg-line">
                        <label for="exampleInputPassword1">Push Description</label>
                        <input type="text" class="form-control input-sm" id="exampleInputPassword1"
                               placeholder="Push Description">
                    </div>
                   

                    <div class="form-group fg-line">
                        <label for="exampleInputPassword1">External Link</label>
                        <input type="text" class="form-control input-sm" id="exampleInputPassword1"
                               placeholder="External Link">
                    </div>
                  
                    

                    

                    </form><button class="btn btn-primary btn-sm m-t-10 btn-info" id="sa-success">Send Notification
                    </button></div>
                
           
        </div>

       

        

      
    </div>
</section>