        <div class="block-header"> </div>
        <div class="card">
            <div class="card-header">
                <h2>Suppport
                    <small>Do you have any doubts/problems while creating your app? Write us below and we'd happy to solve your doubts. 
                    </small>
                </h2>
            </div>

            <div class="card-body card-padding">
                <form role="form">
                    <div class="form-group fg-line">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                               placeholder="Enter email">
                    </div>
                    <div class="form-group fg-line">
                        <label for="exampleInputPassword1">Enter your query</label>
                        <input type="text" class="form-control input-sm" id="exampleInputPassword1"
                               placeholder="Your query">
                    </div>
                    

                    <button type="submit" class="btn btn-primary btn-sm m-t-10">Submit</button>
                </form>
            </div>
        </div>

       
        