#wrapper {
    width: 100%;
}
#page-wrapper {
    /*--padding: 0 15px;--*/
    min-height: 568px;
    
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
  
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}


.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

/*smart phone*/
#phone
{
border-color: black;
border-style: solid;
border-width:20px 10px 60px 10px;
height: 500px;width:260px;
border-radius: 22px;
color: #fff;
padding: 0px;
box-shadow: 2px -2px 2px #888888;
}
/*circles on top of phone*/
.line
{
background-color: #000;
color: #000;
height:20px;
z-index: 100; 
margin-left: 0px;
padding-bottom: 10px;
}
.small-circle
{
width:7px;
height:7px;
border-radius:5px;
background:#161616;
margin-top: 2px; 
border-style: inset;
border-width:0px 0px 1px 0px;
margin-left: 20px;
}
.center-circle
{
@extend .small-circle !optional;
width:11px;
height:11px;
margin-top: 0px;
margin-left: 68%;
}
/*buttons on phone*/
.power
{
  background:#212020;
  height: 35px;
  border-radius: 20px;
  width:4px;
  margin-left: 250px;
  z-index: -1;
}
.volume
{
  background:#212020;
  height: 80px;
  border-radius: 20px;
  width:4px;
  margin-left: -13px;
}
/*top phone navbar*/
#top-nav
{
background-color: rgb(70,70,70);height: 20px; width: 100%;position:absolute;left:0;right:0;
color: #fff;
}
#top-nav-content
{
position: absolute;right: 0px;
}
/*main app navbar*/
#header-app
{
background-color: #57ABC5;position:absolute;left:0; right: 0; height: 75px;
}
#app_name
{
position: absolute;left: 42px;
font-size:18px;
max-width: 130px;
overflow: hidden;
text-overflow: clip;
white-space: nowrap;
}
.show-color
{
height: 23px;
width: 23px;
border: 1px solid black;
margin-left: 15px;
}
.catog-div
{
background-color: #57ABC5;
margin-top: 64px;
height: 30px;
font-size: 14px;
position: absolute;
left: 0px;
right: 0px;
width: 100%;
text-overflow: clip;
white-space: nowrap; 
}
#all-categories
{
  position: absolute;
  left: 20px;
  overflow: hidden;
  max-width: 215px;
  text-overflow: clip;
  white-space: nowrap;
}
.image
{
height: 50%;
width: 100%;
z-index: 100;
margin-top: 0;
}
.title
{
@extend .catog-div !optional;
margin-top: 0px;  
height: 50px;
}
