
#phone{
   border-top:30px solid black;border-bottom:40px solid black;
   border-right: 4px solid black; border-left: 4px solid black;
   height: 500px;width:320px;
   border-radius: 20px 10px 10px;color: #fff;

   }

   #above-nav
   {
    background-color: rgb(70,70,70);height: 20px; width: 100%;position:absolute;left:0;right:0;
    color: #fff;
   }
   #above-nav-content
   {
    position: absolute;right: 0px;
   }

   #header-app
   {
    background-color: #57ABC5;position:absolute;left:0; right: 0; height: 75px
   }
   #app_name
   {
    position: absolute;left: 42px;
    font-size:18px;
   }